.MoviesGrid{
  flex-direction: row;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
background-color:  rgb(237, 188, 142);
}

.FooterStyle{
  position: fixed;
  bottom:0;
  left:15%;
  width:70%;
  height:40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-style: solid;
  border-color: black;
  border-bottom: 0px;
  border-width: 1px;
  background:linear-gradient(rgba(255, 255, 255, 0.2),transparent);
background-color: #7a371a;
}

.Title{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
  }


.MovieTitle{
  font-size: 20px;
  font-weight: bold;
  align-self: flex-start;
}

.AppStyle{
 height:100vh;
}
.Header{
display:flex;
align-items: center;
flex-direction: row;
background:linear-gradient(rgba(97,82,69, 0.2),transparent);

border-bottom:solid;
border-width: 1px;
background-color: #f3cfad;
justify-content: center;
padding: 5px;

}

.Login{
  display:flex;
   gap:5px; 
  justify-content:center;
  align-items: center;
   height:100%;
  flex-direction: column;
  background:linear-gradient(rgba(97,82,69, 0.2),transparent);

  background-color: #f3cfad;
 
}

.SearchButton{
border:solid;
border-width: 1px;
background:linear-gradient(rgba(255, 255, 255, 0.2),transparent);
background-color: #7a371a;
width:300px;
height: 45px;
font-size: 20px;
font-weight: bold;
}

.SearchBar{
  margin:20px;
  width:800px;
  font-size: 20px;
height: 40px;
border:solid;
border-width:1px;
}

.Data{
  margin:15px;
  width:300px;
  font-size: 20px;
height: 40px;
border:solid;
border-width:1px;
}

.AboutMovie{
  font-size: 15px;
  align-self: flex-start;
}

.MovieInfo{
padding:10px;
align-items: center;
}

.break{
  flex-basis:100%;
  height:0;
}

.Card{
  display:flex;
  flex:1;
  background:linear-gradient(rgba(97,82,69, 0.2),transparent);

  background-color: #f3cfad;
  padding:10px;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin:10px;
  
}


